<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <!--CSS FILE-->
    <link rel="stylesheet" href="css/navstyle.css">
    <link rel="stylesheet" href="css/footerstyle.css">
    <link rel="stylesheet" href="css/contact_body.css">
    <!--CSS FILE End-->

    <!--CSS FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--CSS FONT End-->

    <!--SCRIPT FILE-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js"></script>
    <!--SCRIPT FILE End-->
</head>

<body>
    <!--NavBar Start-->
    <section class="header">
        <nav class="navbar-expand-lg navbar-light">
            <img src="images/logo.png" alt="logo" id="logo" class="navbar-brand">

            <!--Navbar toggler-->
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Navbar links-->
            <ul class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
                <li class="nav-item active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item dropdown"><a href="#">Rainwater Harvesting</a>
                    <ul>
                        <li><a href="residential.html">Residential Area</a></li>
                        <li><a href="commercial.html">Commercial Area</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="method.html">Methods</a></li>
                <li class="nav-item"><a href="development.html">Developments</a></li>
                <li class="nav-item"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </section>
    <fieldset>
    <h2>CONTACT</h2>
    <div class="container_swap">    
         <div class="div_left"> 
             <p>Contact us we'll get back to you within 24 hours</p> 
        </div>
        <div class="div_right">
            <div>
                <div>
                    <input type="text" name="user" id="usre" ng-model="vPrice" required placeholder="Your name" >
                    <input type="email"  name="vPrice" id="vPrice" ng-model="vPrice" required placeholder="Your email">
                </div>
    
             </div>
             <div>
               <textarea name="comnet" id="coment" cols="50" rows="4" placeholder="Your messages "></textarea required></fieldset>
            </div>
        </fieldset>
            <div>
                <input type="submit" value="Submit">
             </div>
        </div>
         
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3193500366883!2d106.66408561394566!3d10.786834792314448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech%20Computer%20Education%20HCM!5e0!3m2!1sen!2s!4v1637025595026!5m2!1sen!2s" 
        width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>



    <!--BODY-->

        <!--Thumbnail-->     
         
        

        <!--GeoLocation-->

         

        <!--Contact-->

        
            
            <!--Info-->

            

            <!--Contact form-->
            <!-- Cho user enter name, email,.. messages (required) -->

            

    <!--BODY End-->

</body>



   <!--FOOTER-->
    <div class="footer">
        <nav class="navbar-expand-lg navbar-light">
            <img src="images/logo.png" alt="logo" id="logo" class="navbar-brand">
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
                <li class="nav-item active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item dropdown"><a href="#">Rainwater Harvesting</a>
                    <ul>
                        <li><a href="residential.html">Residential Area</a></li>
                        <li><a href="commercial.html">Commercial Area</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="method.html">Methods</a></li>
                <li class="nav-item"><a href="development.html">Developments</a></li>
                <li class="nav-item"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="contact">
        <p><i class="bi bi-house-fill"></i> 590 Cach Mang Thang Tam, Ward 11, District 3, Ho Chi Minh City</p>
        <p><i class="bi bi-envelope-fill"></i> Group2@gmail.com</p>
        <p><i class="bi bi-telephone-fill"></i> 1800 1779</p>
        </div>
        <hr>
        <p style="padding: 12px 0px;">Copyright &copy; 2021 by Group 2. All rights reserved.</p>
    </div>
    <!--FOOTER End-->

</html>