h2{
    text-align: center;
    
}
div{
    text-align: center;

}

.div_left{
    width: 400px;
    float: left;
    text-align: center;
    
         }

.div_right{
    width: 800px;
    float: left;
    
         }
         
input[type="submit"]{
    padding: .3rem 1rem;
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
    border: gainsboro solid thin;
    border-radius: 1rem;
}